.dark-mode {
  background-color: #212529;
  h4,
  label,
  h1,
  p,
  h2,
  h6,
  h3 {
    color: whitesmoke;
  }
}

.DotSpinner-module_container__KTuXu {
  margin: auto;
}

.nav-tabs {
  .nav-link.active {
    color: #82ff61;
  }
  .nav-link {
    color: blue;
  }
}
