.dark-mode {
  background-color: #212529;

  h4,label,h1,p,h2,h6,h3 {
    color: whitesmoke;
  }
}

.DotSpinner-module_container__KTuXu {
  margin: auto;
}

.dark-mode-tabs {

  .nav-tabs {
    .nav-link.active {
      color: white;
      background-color: #353535;
    }
    .nav-link {
    
     background-color: transparent;
    }
  }
}

.nav-tabs {
  .nav-link.active {
    background-color: #f5f5f5;
  }
  
}